*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

div {
    background-color: black;
    width: 100px;
    height: 100px;
}

.box1 {
    position: relative;
    top: 0px;
    left: 0px;
}
.box2 {
    position: absolute;
    top: 0px;
    right: 0px;
}
.box3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.box4 {
    position: absolute;
    bottom: 0px;
    right: 0px;
}